footer{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: $secondColor;

	div a{
		text-decoration: none;
		margin: 40px;
		padding: 5px;
	}

	h3{
		font-size: $textLg;
		margin: 30px auto;
	}

	h4{
		font-size: $textSm;
		margin: 50px 10px auto;
	}

	h5{
		@extend h4;
		margin-bottom: 10px;
	}
}

